<hr>
<div class="splitcontent">
	<p><strong> <%= l(:label_products) %> </strong></p>

	<ul>
		<% Product.where(:issue_id => @issue.id).each do |product| %>
			<li> <%= link_to product.name, product_show_path(product, :project_id => @project) %> </li>
		<% end %>
	</ul>
	<div class="contextual">
		<%= link_to l(:button_add), new_product_path(:project_id => @project, :issue_id => @issue.id) %>
	</div>
</div>