<div class="contextual">
	<% if User.current.allowed_to?(:edit_products, @project, :global => true) %>
		<%= link_to l(:button_edit), product_edit_path(@product, :project_id => @project), :class => 'icon icon-edit' %>
	<% end %>
	<% if User.current.allowed_to?(:destroy_products, @project, :global => true) %>
		<%= link_to l(:button_delete), destroy_product_path(@product, :project_id => @project), :method => :delete, :class => 'icon icon-del' %>
	<% end %>
</div>