<%= labelled_fields_for :product, @product do |f| %>

	<%= hidden_field_tag 'back_url', params[:back_url], :id => nil if params[:back_url].present? %>

	<% if @product.safe_attribute? 'name' %>
		<p><%= f.text_field :name, :size => 50, :required => true %></p>
	<% end %>

	<% if @product.safe_attribute? 'price' %>
		<p><%= f.text_field :price, :size => 20 %></p>
	<% end %>

	<% if @product.safe_attribute? 'amount' %>
		<p><%= f.text_field :amount, :size => 20 %></p>
	<% end %>

	<% if @product.safe_attribute? 'production_date' %>
		<span id="production_date_area">
		<p><%= f.date_field(:production_date, :size => 10) %>
  		<%= calendar_for('product_production_date') %></p>
	<% end %>
		</span>
	<% if @product.safe_attribute? 'issue_id' %>
		<p id="related_issue"><%= f.text_field :issue_id, :size => 10 %></p>
		<%= javascript_tag "observeAutocompleteField('product_issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => Setting.cross_project_subtasks)}')" %>
	<% end %>

<% end %>

<% include_calendar_headers_tags %>