<% query_options = nil unless defined?(query_options) %>
<% query_options ||= {} %>

<div class="autoscroll">
<table class="list odd-even">
  <thead>
    <tr>
      <!-- ><th class="checkbox hide-when-print">
        <%#= check_box_tag 'check_all', '', false, :class => 'toggle-selection',:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
      </th> -->
      <% @query.inline_columns.each do |column| %>
        <%= column_header(@query, column, query_options) %>
      <% end %>
    </tr>
  </thead>
  <tbody>
	  <% @products.each do |product| %>
	  <tr id="product-<%= product.id %>" class="hascontextmenu <%= cycle('odd', 'even') %>" >
	      <!-- <td class="checkbox hide-when-print"><%#= check_box_tag("ids[]", product.id, false, :id => nil) %></td> -->
	      <% @query.inline_columns.each do |column| %>
	      	<%= content_tag('td', product_column_content(column, product), :class => column.css_classes) %>
	      <% end %>
	    </tr>
		<% end %>
  </tbody>
</table>
</div>