<h2><%= title l(:label_product_edit) %></h2>

<%= labelled_form_for @product, :url => {:controller => 'products', :action => 'update', :project_id => @project}, :html => {:id => 'issue-form', :multipart => true} do |f| %>

	<%= error_messages_for 'product' %>

	<div class="box tabular">
		<div id="all_attributes">
    		<%= render :partial => 'products/form', :locals => {:f => f} %>
		</div>
	</div>

	<%= submit_tag l(:button_submit) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'products/sidebar' %>
<% end %>