<div class="contextual">
  <% if User.current.allowed_to?(:add_products, @project, :global => true) %>
    <%= link_to l(:label_product_new), new_product_path(@product, :project_id => @project), :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= l(:products_list) %></h2>

<%= form_tag products_path(@project), :method => :get, :id => 'query_form' do %>
	<%= render :partial => 'queries/query_form' %>
<% end %>

<% if @products.empty? %>
	<div class="autoscroll">
		<p class="nodata"><%= l(:label_no_data) %></p>
	</div>
<% else %>
	<%= render_query_totals(@query) %>
	<%= render :partial => 'products/list', :locals => {:products => @products, :query => @query} %>
	<span class="pagination"><%= pagination_links_full @product_pages, @product_count %></span>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'products/sidebar' %>
<% end %>

<%#= context_menu %>