<h2><%= title l(:label_product_new) %></h2>

<%= labelled_form_for @product, :url => {:controller => "products", :action => "create", :project_id => @project}, :html => {:id => 'product-form'} do |f| %>

	<%= error_messages_for 'product' %>

	<div class="box tabular">
		<div id="all_attributes">
    		<%= render :partial => 'products/form', :locals => {:f => f} %>
		</div>
	</div>

	<%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'products/sidebar' %>
<% end %>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
