<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'style', :plugin => 'redmine_warehouse' %>
<% end %>

<%= render :partial => 'products/actions' %>

<h2> <%= @product.name %> </h2>

<div class="product">
	<div class="attributes">
		<% if @product.safe_attribute? 'name' %>
			<div class="attribute">
				<div class="label"> <%= l(:field_name) %>:</div>
				<div class="value"> <%= @product.name %> </div>
			</div>
		<% end %>
	
		<% if @product.safe_attribute? 'price' %>
			<div class="attribute">
				<div class="label"> <%= l(:field_price) %>: </div>
				<div class="value"> <%= @product.price.to_s %> </div>
			</div>
		<% end %>

		<% if @product.safe_attribute? 'amount' %>
			<div class="attribute">
				<div class="label"> <%= l(:field_amount) %>: </div>
				<div class="value"> <%= @product.amount.to_s %> </div>
			</div>
		<% end %>

		<% if @product.safe_attribute? 'production_date' %>
			<div class="attribute">
				<div class="label"> <%= l(:field_production_date) %>: </div>
				<div class="value"> <%= @product.production_date %> </div>
			</div>
		<% end %>
	
		<% if @product.safe_attribute? 'issue_id' %>
			<div class="attribute">
				<div class="label"> <%= l(:field_issue) %>: </div>
				<div class="value"> <%= Issue.find(@product.issue_id).to_s if @product.issue_id %> </div>
			</div>
		<% end %>
	</div>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'products/sidebar' %>
<% end %>